Archieve/paddle_env
CarPlateForOCR/Dataset
CarPlateForOCR/SecondApproach/CRNN/Models/
runs
ObjectDetection/YoloV11/detect/
ObjectDetection/YoloV11/Models/
ObjectDetection/YoloV11/YoloV11Dataset
ObjectDetection/Retina/final-dataset.v2i.coco
ObjectDetection/Retina/final-dataset.v6i.coco
ObjectDetection/Retina/Models/
trocr_env
CarPlateForOCR/SecondApproach/TrOCR/Models/